.ellipsis{
    border:2px solid steelblue;
    width:200px;
    white-space: nowrap;
    overflow:hidden;
    /* text-overflow:ellipsis; */
    text-overflow:clip;
}

.box{
    width:400px;
    height:300px;
    border:2.5px solid steelblue;
    padding: 20px;
    /* overflow:hidden; */
    /* overflow: scroll;
    overflow-x: hidden; */
    overflow:auto;
    margin:0 auto;
}
#box-3{
    margin:0 auto;
    border:2px solid red;
    width:200px;
    height: 100px;
    overflow:auto;

}