

.container, .inner{
    width: 200px;
    height: 200px;
}

.container{
    border:2px solid steelblue;
    background-color: aqua;
    /* margin:100px auto; */
}
.inner{
    border:2px solid brown;
    background-color: rgb(224, 163, 102);
    font-weight: 900;
    font-size: 1.25rem;
    /* transform:rotate(45deg); */
    /* transform:scale(0.8); */
    /* transform:scaleX(0.8) scaleY(0.5); */
    /* transform:rotateX(180deg); */
    /* transform:translateY(-200px); */
    /* transform:translateX(50px); */
    /* transform:scale(0.40, 0.9); */
    /* transform:translate(20px, 50px) scale(0.78); */
    /* transform: skewX(15deg) skewY(20deg); */
    /* transform: skew(20deg); */
    /* transform:scale(1.2) rotate(45deg) translate(20px) skew(20deg); */



   /* property name,  duration,  timing function    delay */

    /* transition: width 3s linear 2s,transform 4s ease-in 3s,background-color 2s ease-out 1s; */
    /* transition-timing-function: ease-in; */
    transition:3s 2s;
   
}
.inner:hover{
     width:500px;
    transform:scale(0.5) rotate(45deg) translate(20px);
    background-color:red;
}